html { 
    font-family: 'Raleway', sans-serif;
    @include fluid-type(7px, 9px);
    //font-size: 10px;
}

.site-center {
    max-width: 138.4rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    position: relative;
}

.page-layout {
    margin-top: 80px;

    @media print {
        margin-top: 0;
    }
}

.flex-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.print-only {
    display: none;

    @media print {
        display: block;
    }
}

.red {
    color: $red;
}

.page-template-page-car_list,
.car-template-default,
.page-template-page-contacts,
.single-format-standard,
.page-template-default,
.page-template-page-news {
    background-color: #e6e6e6;

    @media print {
        background-color: transparent;
    }
}

.cky-footer-wrapper div:last-child {
    display: none!important;
}

.cky-always-active {
    display: none!important;
}

.cky-switch input[type="checkbox"]:checked {
    background-color: #F94449!important;
}