h1 {
    @include fluid-type(20px, 30px);
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 5rem;
}

h2 {
    @include fluid-type(20px, 38px);
    font-weight: 700;
    line-height: 1.5em;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 1px solid #b1b1b1;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.5em;
}

.large {
    @include fluid-type(18px, 24px);
    font-weight: 700;
}