.overlay-wrapper {
    @include strech;
    position: fixed;
    background-color: #000000aa;
    z-index:-1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;

    &.active {
        z-index: 11;
        opacity: 1
    }

    .overlay-window {
        background-color: #fff;
        position: relative;
        padding: 4rem;
        max-width: 40rem;
        width: 100%;
        font-size: 1.6rem;
        
        .close-overlay {
            position: absolute;
            width: 4rem;
            height: 4rem;
            top: 1rem;
            right: 1rem;
            background-color: #fff;
            cursor: pointer;

            .icon {
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.overlay-wrapper {

    h2 {
        margin-bottom: 1em;
        font-size: 2.2em;
    }

    .wpcf7-form-control-wrap[data-name="car-name"], .wpcf7-form-control-wrap[data-name="car-type"], .wpcf7-form-control-wrap[data-name="website-url"] {
        display: none;
    }

    input[type="text"], input[type="email"] {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $dgrey;
        max-width: 100%;
        background-color: $grey;
        padding: 1rem;
    }

    

    input[type="submit"] {
        background-color: $red;
        padding: 1rem 2rem;
        color: #fff;
        display: block;
        margin: auto;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: darken($red, 10%);
        }
    }

    .wpcf7-spinner {
        margin-top: -3rem;
        display: block
    }

    textarea {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $dgrey;
        margin-bottom: 1rem;
        width: 100%;
        height: 70px;
        background-color: $grey;
        padding: 1rem;
    }
}