/*!
Theme Name: psl
Theme URI: http://underscores.me/
Author: ndrv
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: psl
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

psl is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/*:where(:not(html,iframe,canvas,img,svg,video,audio):not(svg *,symbol *)){all:unset;display:revert}*,*::before,*::after{box-sizing:border-box}a,button{cursor:revert}ol,ul,menu{list-style:none}img{max-width:100%}table{border-collapse:collapse}input,textarea{-webkit-user-select:auto}textarea{white-space:revert}meter{-webkit-appearance:revert;appearance:revert}::placeholder{color:unset}:where([hidden]){display:none}:where([contenteditable]:not([contenteditable="false"])){-moz-user-modify:read-write;-webkit-user-modify:read-write;overflow-wrap:break-word;-webkit-line-break:after-white-space;-webkit-user-select:auto}:where([draggable="true"]){-webkit-user-drag:element}input,textarea{border:0px solid}:root{--red: $red;--grey: $grey;--dgrey: $dgrey}html{font-family:'Raleway', sans-serif}html{font-size:7px}@media screen and (min-width: 560px){html{font-size:calc(7px + 2 * ((100vw - 560px) / 688))}}@media screen and (min-width: 1248px){html{font-size:9px}}.site-center{max-width:138.4rem;width:100%;margin-left:auto;margin-right:auto;padding:0 2rem;position:relative}.page-layout{margin-top:80px}@media print{.page-layout{margin-top:0}}.flex-content{display:flex;justify-content:space-between;align-items:flex-start}.print-only{display:none}@media print{.print-only{display:block}}.red{color:#f94449}.page-template-page-car_list,.car-template-default,.page-template-page-contacts,.single-format-standard,.page-template-default,.page-template-page-news{background-color:#e6e6e6}@media print{.page-template-page-car_list,.car-template-default,.page-template-page-contacts,.single-format-standard,.page-template-default,.page-template-page-news{background-color:transparent}}.cky-footer-wrapper div:last-child{display:none !important}.cky-always-active{display:none !important}.cky-switch input[type="checkbox"]:checked{background-color:#F94449 !important}h1{font-weight:700;line-height:1.5em;margin-bottom:5rem}h1{font-size:20px}@media screen and (min-width: 560px){h1{font-size:calc(20px + 10 * ((100vw - 560px) / 688))}}@media screen and (min-width: 1248px){h1{font-size:30px}}h2{font-weight:700;line-height:1.5em}h2{font-size:20px}@media screen and (min-width: 560px){h2{font-size:calc(20px + 18 * ((100vw - 560px) / 688))}}@media screen and (min-width: 1248px){h2{font-size:38px}}h3{font-size:1.6rem;font-weight:700;padding-bottom:1rem;border-bottom:1px solid #b1b1b1;margin-bottom:1rem}p{font-size:1.6rem;line-height:1.5em}.large{font-weight:700}.large{font-size:18px}@media screen and (min-width: 560px){.large{font-size:calc(18px + 6 * ((100vw - 560px) / 688))}}@media screen and (min-width: 1248px){.large{font-size:24px}}.site-footer{background-color:#000;color:#fff;padding:12rem 2rem 3.5rem;font-size:1.6rem;line-height:1.35em;position:relative;overflow:hidden}.site-footer::after{content:'';position:absolute;width:58rem;height:58rem;background-size:contain;background-repeat:no-repeat;bottom:-15rem;left:-12rem;background-image:url(assets/svg/logo_emblem_w.svg);opacity:.15;z-index:0}@media print{.site-footer{padding:0rem;background-color:#fff;color:#000}}@media only screen and (max-width: 767px){.site-footer{padding-top:6rem}}.site-footer .site-center{display:flex;justify-content:space-between;position:relative;z-index:2}@media print{.site-footer .site-center{display:block}}@media only screen and (max-width: 767px){.site-footer .site-center{flex-direction:column}}.site-footer .site-center .footer-col{flex:0 0 33%}@media print{.site-footer .site-center .footer-col{display:none}.site-footer .site-center .footer-col.show-in-print{display:block}}@media only screen and (max-width: 767px){.site-footer .site-center .footer-col{display:flex;flex-direction:column}.site-footer .site-center .footer-col.footer-col-1{order:2}.site-footer .site-center .footer-col.footer-col-2{order:1;margin-bottom:4rem}.site-footer .site-center .footer-col.footer-col-3{order:3}}.site-footer .site-center .footer-col ul{padding:0}.site-footer .site-center .footer-col ul li{padding:0}.site-footer .site-center .footer-col ul li a{color:#fff;text-decoration:none}.site-footer .site-center .footer-col p{margin-bottom:1.35em;margin-top:0}.site-footer .site-center .footer-col p a{color:#fff;text-decoration:none;padding:0;margin:0}.site-footer .site-center .footer-col .cont-block{margin-bottom:1.35em}.site-footer .site-center .footer-col .cont-block .footer-block-title{font-weight:700}.site-footer .site-center .footer-col .cont-block p{margin-bottom:0}.site-footer .site-center .footer-col .social-links{display:flex;margin-top:10rem}@media only screen and (max-width: 767px){.site-footer .site-center .footer-col .social-links{margin-top:6rem}}@media print{.site-footer .site-center .footer-col .social-links{display:none}}.site-footer .site-center .footer-col .social-links .social-link{background-color:#fff;position:relative;margin-right:2.5rem;width:4rem;height:4rem;position:relative}.site-footer .site-center .footer-col .social-links .social-link svg{width:4rem;height:4rem}.site-footer .site-center .footer-col .social-links .social-link a{top:0;left:0;right:0;bottom:0;position:absolute}.copyright{font-size:1.6rem;line-height:1em;text-align:center;padding:3.5rem 2rem}@media print{.copyright{display:none}}.site-header{padding:1rem;position:fixed;top:0;left:0;width:100%;background-color:#fff;box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);z-index:30}@media print{.site-header{display:none}}.site-header .site-center{display:flex;justify-content:space-between}.site-header .logo{position:relative;width:94px;height:56px;background-image:url(assets/img/psl_logo_2.png);background-size:contain;background-repeat:no-repeat;background-position:center}.site-header .logo svg{height:6rem;width:auto}.site-header .logo a{top:0;left:0;right:0;bottom:0;position:absolute}.site-header nav{display:flex;font-size:1.6rem;line-height:1em;flex-direction:column;position:absolute;top:100%;right:0;background-color:#fff}@media only screen and (min-width: 1024px){.site-header nav{position:static;flex-direction:row}}@media only screen and (max-width: 1023px){.site-header nav{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);transform:translateX(110%);transition:all .3s}.site-header nav.active{transform:translateX(0%)}}.site-header nav .menu-main-menu-container{align-self:center}.site-header nav .menu-main-menu-container .menu{display:flex;align-items:center;text-transform:uppercase}@media only screen and (max-width: 1023px){.site-header nav .menu-main-menu-container .menu{flex-direction:column;margin-bottom:2rem}}.site-header nav .menu-main-menu-container .menu li{margin-left:3em;transition:all .3s}.site-header nav .menu-main-menu-container .menu li:hover a{color:#f94449}.site-header nav .menu-main-menu-container .menu li.current_page_item a{font-weight:700;color:#f94449}.site-header nav .menu-main-menu-container .menu li a{color:#333;text-decoration:none}@media only screen and (max-width: 1023px){.site-header nav .menu-main-menu-container .menu li{margin-left:0;line-height:2.5em}.site-header nav .menu-main-menu-container .menu li a{padding:1rem 3rem}}.site-header nav>.phone{display:flex;align-items:center;position:relative;margin-left:3em}@media only screen and (max-width: 1023px){.site-header nav>.phone{margin-left:0;justify-content:center;padding-bottom:1rem}}.site-header nav>.phone::after{content:"";display:block;position:absolute;top:-1rem;left:0;right:0;height:.3rem;background-color:#f94449}.site-header nav>.phone .icon{width:40px;height:40px}.site-header nav>.phone a{color:#333;text-decoration:none}.site-header .menu-toggler{display:flex;justify-content:center;align-items:center;cursor:pointer}@media only screen and (min-width: 1024px){.site-header .menu-toggler{display:none}}.car-template-default #menu-item-18{font-weight:700;color:#f94449}.breadcrumbs{font-size:1.6rem;padding:3rem 0;margin-bottom:2rem}.fp-slider{width:100%;height:60vh;position:relative;margin-top:8rem}@media only screen and (max-width: 767px){.fp-slider{height:60vh}}.fp-slider .fp-slide{top:0;left:0;right:0;bottom:0;position:absolute;background-size:cover;background-position:center;display:flex;justify-content:center;align-items:center;opacity:0;transition:all .3s}.fp-slider .fp-slide.active{opacity:1}.fp-slider .fp-slide .slide-inner{display:inline-block;padding-bottom:2rem;font-weight:700;line-height:1.5em;color:#fff;width:auto;text-align:center;background-color:#00000075;padding:4rem;width:100%;max-width:70rem}.fp-slider .fp-slide .slide-inner{font-size:20px}@media screen and (min-width: 560px){.fp-slider .fp-slide .slide-inner{font-size:calc(20px + 18 * ((100vw - 560px) / 688))}}@media screen and (min-width: 1248px){.fp-slider .fp-slide .slide-inner{font-size:38px}}.fp-slider .fp-slide .slide-inner .slide-subheading{margin-bottom:3rem}.fp-slider .fp-slide .slide-inner .slide-button-wrapper .slide-btn{background-color:#f94449;font-size:1.6rem;padding:.2rem 2rem;display:inline-block;position:relative;transition:all .3s}.fp-slider .fp-slide .slide-inner .slide-button-wrapper .slide-btn:hover{background-color:#f71319}.fp-slider .fp-slide .slide-inner .slide-button-wrapper .slide-btn a{top:0;left:0;right:0;bottom:0;position:absolute}.advantages-wrapper{background-color:#f2f1f1;padding:3rem 2rem}.advantages-wrapper .advantages-block{display:flex;justify-content:space-between;position:relative;z-index:5;margin:auto}@media only screen and (max-width: 767px){.advantages-wrapper .advantages-block{flex-direction:column;width:100%}}.advantages-wrapper .advantages-block .advantages-entry{flex:0 0 17%;text-align:center;padding:0 2rem;font-size:1.8rem;line-height:1.5em}@media only screen and (max-width: 1023px){.advantages-wrapper .advantages-block .advantages-entry{padding:0 1rem}}@media only screen and (max-width: 767px){.advantages-wrapper .advantages-block .advantages-entry{display:flex;align-items:center}.advantages-wrapper .advantages-block .advantages-entry .adv-visual{flex:0 0 7rem}.advantages-wrapper .advantages-block .advantages-entry .adv-body{padding-left:2rem;text-align:left}}.available-wrapper{padding:6rem 2rem;position:relative}.available-wrapper::before{content:"";display:block;position:absolute;width:28rem;height:48rem;right:0rem;top:-20rem;background-image:url(assets/svg/logo_emblem.svg);background-size:cover;background-position:left center;background-repeat:no-repeat;opacity:.07}.available-wrapper h2{margin-bottom:6rem;text-align:center}.available-wrapper .available-car-swiper-wrapper{position:relative}.available-wrapper .available-car-swiper-wrapper .arrow{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);background-image:url(assets/svg/arr_alt.svg);width:4rem;height:4rem;position:absolute;top:50%;background-color:#fff;transform:translateY(-50%);background-position:center;background-repeat:no-repeat;cursor:pointer;z-index:10}@media print{.available-wrapper .available-car-swiper-wrapper .arrow{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.available-wrapper .available-car-swiper-wrapper .arrow.arrow-right{right:-2rem}.available-wrapper .available-car-swiper-wrapper .arrow.arrow-left{left:-2rem;transform:translateY(-50%) rotate(180deg)}.available-wrapper .available-car-swiper-wrapper .arrow.swiper-button-disabled{display:none}.available-wrapper .available-car-swiper-wrapper .car-entry{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);position:relative;transition:all .3s}@media print{.available-wrapper .available-car-swiper-wrapper .car-entry{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.available-wrapper .available-car-swiper-wrapper .car-entry:hover{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.3);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.3);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.3)}@media print{.available-wrapper .available-car-swiper-wrapper .car-entry:hover{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.available-wrapper .available-car-swiper-wrapper .car-entry:hover .car-price{background-color:#4d4d4d}.available-wrapper .available-car-swiper-wrapper .car-entry .car-img{background-size:cover;background-position:center;padding-top:70%;position:relative}.available-wrapper .available-car-swiper-wrapper .car-entry .car-img .grid-label{position:absolute;top:1rem;right:3rem;width:calc( 50% - 3rem - 2px);background-color:#f94449;color:#fff;font-size:1.4rem;min-height:4rem;display:flex;justify-content:center;align-items:center;text-align:center;padding:1rem;line-height:1.35em}.available-wrapper .available-car-swiper-wrapper .car-entry .car-info{padding:2.5rem 3rem}.available-wrapper .available-car-swiper-wrapper .car-entry .car-info .car-title{font-size:1.8rem;margin-bottom:2.5rem;font-weight:700}@media only screen and (max-width: 559px){.available-wrapper .available-car-swiper-wrapper .car-entry .car-info .car-title{font-size:2rem}}.available-wrapper .available-car-swiper-wrapper .car-entry .car-info .car-desc{font-size:1.6rem;color:#8a8a8a}.available-wrapper .available-car-swiper-wrapper .car-entry .car-price{background-color:#333;color:#fff;font-weight:700;font-size:1.6rem;padding:2.5rem 3rem;transition:all .3s}@media only screen and (max-width: 767px){.available-wrapper .available-car-swiper-wrapper .car-entry .car-price{font-size:1.8rem}}@media only screen and (max-width: 559px){.available-wrapper .available-car-swiper-wrapper .car-entry .car-price{font-size:2rem}}.available-wrapper .available-car-swiper-wrapper .car-entry a{top:0;left:0;right:0;bottom:0;position:absolute}.about-wrapper{background-image:url(assets/tmp/bg.jpg);background-size:cover;background-position:center;padding:6rem 2rem 24rem}@media only screen and (max-width: 767px){.about-wrapper{padding-bottom:6rem}}.about-wrapper h2{text-align:center;color:#fff;margin-bottom:10px}.about-wrapper .subheading{text-align:center;color:#fff}.about-wrapper .about-steps{margin-top:15rem}@media only screen and (max-width: 767px){.about-wrapper .about-steps{display:flex;margin-top:6rem}}.about-wrapper .about-steps .numbers{display:flex;justify-content:space-between;position:relative}@media only screen and (max-width: 767px){.about-wrapper .about-steps .numbers{flex-direction:column;display:none}}.about-wrapper .about-steps .numbers::before{content:"";display:block;position:absolute;top:50%;left:5px;right:5px;border-bottom:2px solid #fff}.about-wrapper .about-steps .numbers .num{position:relative;z-index:5;display:flex;align-items:center;justify-content:center;width:5rem;height:5rem;font-size:1.6rem;color:#fff;background-color:#f94449;box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);transition:all .3s;cursor:pointer}.about-wrapper .about-steps .numbers .num:hover{background-color:#f71319}@media only screen and (max-width: 767px){.about-wrapper .about-steps .numbers .num{margin-bottom:1rem;height:7rem}}.about-wrapper .about-steps .numbers .num::after{content:"";display:block;position:absolute;background-image:url(assets/svg/pointer.svg);background-size:contain;background-position:center bottom;background-repeat:no-repeat;width:0rem;height:0rem;bottom:-5rem;transition:all .3s}@media only screen and (max-width: 767px){.about-wrapper .about-steps .numbers .num::after{background-image:url(assets/svg/pointer_black.svg)}}@media only screen and (max-width: 767px){.about-wrapper .about-steps .numbers .num::after{bottom:0;top:50%;left:100%;transform:rotate(90deg) translateX(-50%)}}.about-wrapper .about-steps .numbers .num .num-desc-entry{position:absolute;top:10rem;left:0;background-color:#fff;padding:3rem;transition:all .3s;opacity:0;white-space:nowrap;display:none}@media only screen and (max-width: 767px){.about-wrapper .about-steps .numbers .num .num-desc-entry{display:none !important}}.about-wrapper .about-steps .numbers .num .num-desc-entry.center{left:50%;transform:translateX(-50%)}.about-wrapper .about-steps .numbers .num .num-desc-entry.right{left:auto;right:0}.about-wrapper .about-steps .numbers .num.active{color:#000;background-color:#fff}@media only screen and (max-width: 767px){.about-wrapper .about-steps .numbers .num.active{background-color:#000;color:#fff}}.about-wrapper .about-steps .numbers .num.active::after{width:3rem;height:3rem}.about-wrapper .about-steps .numbers .num.active .num-desc-entry{opacity:1;display:block}.about-wrapper .about-steps .num-descriptions{margin-top:5rem;padding:3rem;background-color:#fff;transition:all .3s;display:none}@media only screen and (max-width: 767px){.about-wrapper .about-steps .num-descriptions{width:100%;margin-top:0;padding:0;background-color:transparent;display:block}}.about-wrapper .about-steps .num-descriptions.is-right{margin-left:50%}.about-wrapper .about-steps .num-descriptions.is-center{margin-left:25%}.about-wrapper .about-steps .num-descriptions .num-desc-entry{font-size:1.6rem;overflow:hidden;max-height:0;line-height:1.5em}@media only screen and (max-width: 767px){.about-wrapper .about-steps .num-descriptions .num-desc-entry{height:7rem;max-height:7rem !important;background-color:#fff;padding:0 3rem;display:flex;align-items:center;margin-bottom:1rem}}.about-wrapper .about-steps .num-descriptions .num-desc-entry.active{max-height:100vh}.about-wrapper .about-steps .num-descriptions .num-desc-entry .alt-num{margin-right:.5rem}.reviews-wrapper{padding:6rem 2rem 2rem}.reviews-wrapper h2{text-align:center;margin-bottom:5rem}.reviews-wrapper .review-entry-wrapper{padding:2rem 0}.reviews-wrapper .review-entry-wrapper .review-entry{padding:8rem 4rem 4rem;position:relative;box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16)}.reviews-wrapper .review-entry-wrapper .review-entry::before{content:"";display:block;position:absolute;right:2rem;top:-1rem;width:5rem;height:4rem;background-image:url(assets/svg/quote.svg);background-size:contain;background-repeat:no-repeat}.reviews-wrapper .review-entry-wrapper .review-entry .review-body{text-align:center;margin-bottom:3rem;font-size:1.6rem}.reviews-wrapper .review-entry-wrapper .review-entry .review-author{text-align:center;color:#f94449;font-size:1.6rem;font-weight:700}.message-icon{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);position:fixed;bottom:2rem;right:2rem;border-radius:50%;background-color:#f94449;cursor:pointer;transition:all .3s;z-index:15}@media print{.message-icon{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.message-icon:hover{background-color:#f71319}.message-icon svg path{fill:#fff}.filter-results{flex:1 1 100%;padding-left:6rem;display:flex;flex-wrap:wrap;margin-left:-1.75rem;margin-bottom:10rem}@media only screen and (max-width: 1023px){.filter-results{padding-left:0rem;margin-right:-2rem}}.filter-results .car-entry-wrapper{flex:0 0 33%;padding:0 1.75rem 3.5rem}@media only screen and (max-width: 767px){.filter-results .car-entry-wrapper{flex:0 0 50%}}@media only screen and (max-width: 559px){.filter-results .car-entry-wrapper{flex:0 0 100%}}.filter-results .car-entry-wrapper .car-entry{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);background-color:#fff;transition:all .3s;position:relative;z-index:5}@media print{.filter-results .car-entry-wrapper .car-entry{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.filter-results .car-entry-wrapper .car-entry:hover{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.3);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.3);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.3)}@media print{.filter-results .car-entry-wrapper .car-entry:hover{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.filter-results .car-entry-wrapper .car-entry a{top:0;left:0;right:0;bottom:0;position:absolute;z-index:2}.filter-results .car-entry-wrapper .car-entry .car-img{padding-top:75%;background-size:cover;background-position:center;position:relative}.filter-results .car-entry-wrapper .car-entry .car-img .grid-label{position:absolute;top:1rem;right:3rem;width:calc( 50% - 3rem - 2px);background-color:#f94449;color:#fff;font-size:1.4rem;min-height:4rem;display:flex;justify-content:center;align-items:center;text-align:center;padding:1rem;line-height:1.35em}.filter-results .car-entry-wrapper .car-entry .car-grid-controls{display:flex;justify-content:space-between;padding:0 3rem;margin-top:-2rem;height:4rem;z-index:3;position:relative}@media only screen and (max-width: 767px){.filter-results .car-entry-wrapper .car-entry .car-grid-controls{padding:0 1rem}}.filter-results .car-entry-wrapper .car-entry .car-grid-controls .control{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);flex:0 0 calc( 50% - 2px);display:flex;justify-content:center;align-items:center;font-size:1.4rem;cursor:pointer;transition:all .3s}@media print{.filter-results .car-entry-wrapper .car-entry .car-grid-controls .control{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}@media only screen and (max-width: 767px){.filter-results .car-entry-wrapper .car-entry .car-grid-controls .control{font-size:1.2rem}}.filter-results .car-entry-wrapper .car-entry .car-grid-controls .control.car-price-from{text-align:center;background-color:#fff}.filter-results .car-entry-wrapper .car-entry .car-grid-controls .control.go-to-car{background-color:#333;color:#fff;position:relative}.filter-results .car-entry-wrapper .car-entry .car-grid-controls .control:hover{background-color:#f94449;color:#fff}.filter-results .car-entry-wrapper .car-entry .entry-info{padding:4rem 3rem 2rem}.filter-results .car-entry-wrapper .car-entry .entry-info .car-title{font-size:1.8rem;margin-bottom:2.5rem;font-weight:700}.filter-results .car-entry-wrapper .car-entry .entry-info .car-desc{font-size:1.6rem;color:#8a8a8a;line-height:1.5em}.no-cars-found{width:100%;text-align:center;font-size:3em;font-weight:700;color:#9f9f9f}.filters{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);flex:0 0 28rem;margin-bottom:10rem;transition:all .3s;background-color:#fff;min-width:28rem;z-index:15}@media print{.filters{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}@media only screen and (max-width: 1023px){.filters{position:absolute;top:0;left:0;transform:translateX(-100%)}.filters.active{transform:translateX(0%)}.filters.active .filter-header .icon{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);left:0px !important}}.filters .filter-header{font-size:2rem;padding:2rem 3rem 2rem 8rem;position:relative;background-color:#fff}.filters .filter-header .icon{position:absolute;top:0;bottom:0;left:3rem;display:flex;align-items:center;transition:all .3s}@media only screen and (max-width: 1023px){.filters .filter-header .icon{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);left:100%;background-color:#fff}}.filters .filter-block.active .filter-block-header::after{transform:translateY(-50%) rotate(180deg)}.filters .filter-block.active .filter-body{max-height:100vh;padding:1rem 3rem}.filters .filter-block .filter-block-header{font-size:2rem;padding:2rem 3rem 2rem 3rem;background-color:#f7f7f7;font-weight:600;position:relative;cursor:pointer;transition:all .3s}.filters .filter-block .filter-block-header:hover{background-color:#eee}.filters .filter-block .filter-block-header::after{content:"";display:block;position:absolute;width:20px;height:10px;top:50%;right:3rem;background-image:url(assets/svg/arr.svg);background-size:contain;background-repeat:no-repeat;transform:translateY(-50%);transition:all .3s}.filters .filter-block .filter-body{padding:0rem 3rem;font-size:1.8rem;line-height:2em;max-height:0;overflow:hidden;transition:all .3s}.filters .filter-block .filter-body .filter-entry{padding-left:2rem;position:relative;cursor:pointer}.filters .filter-block .filter-body .filter-entry.active::after{width:1.1rem;height:1.1rem}.filters .filter-block .filter-body .filter-entry::before{content:"";display:block;position:absolute;border:1px solid #000;left:0;top:1rem;width:1.5rem;height:1.5rem}.filters .filter-block .filter-body .filter-entry::after{content:"";display:block;position:absolute;left:.2rem;top:1.2rem;width:0rem;height:0rem;background-color:#f94449;transition:all .3s}.filters .filter-block .filter-body .slider{width:100%}.filters .filter-block .filter-body .range-peak-values{display:flex;justify-content:space-between;font-size:1.6rem}.filters .filter-block .filter-body .actual-range{text-align:center;font-size:1.6rem}.car-overview{align-items:normal;margin-bottom:8rem}@media print{.car-overview{margin-bottom:4rem}}@media only screen and (max-width: 767px){.car-overview{flex-direction:column}}.main-print-image{margin-bottom:2rem;background-size:cover;background-position:center}.main-print-image img{width:600px}.car-template-default .page-layout,.page-template-page-car_list .page-layout,.page-template-page-contacts .page-layout{position:relative}.car-template-default .page-layout::before,.page-template-page-car_list .page-layout::before,.page-template-page-contacts .page-layout::before{content:"";display:block;position:absolute;background-image:url(assets/svg/logo_emblem.svg);width:52rem;height:68rem;top:-5rem;right:0;background-size:cover;background-position:left center;opacity:.07}@media print{.car-template-default .page-layout::before,.page-template-page-car_list .page-layout::before,.page-template-page-contacts .page-layout::before{display:none}}.overview-control-block{flex:0 0 30rem}@media only screen and (max-width: 767px){.overview-control-block{order:2}}.overview-control-block h1{margin-bottom:2rem}.overview-control-block .single-page-subtitle{font-size:1.6rem;line-height:1.5em;margin-bottom:3rem}.overview-control-block .controls{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);padding:3rem;background-color:#fff}@media print{.overview-control-block .controls{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}@media print{.overview-control-block .controls{display:none}}.overview-control-block .controls .line-1{margin-bottom:2.5rem;text-align:center;margin-top:6rem}.overview-control-block .controls .line-2{margin-bottom:4rem;text-align:center}.overview-control-block .controls .btn-block{width:20rem;margin:0 auto 3rem}.overview-control-block .controls .btn-block .btn{height:4rem;margin-bottom:1rem;background-color:#f2f1f1;display:flex;justify-content:center;align-items:center;font-size:1.6rem;cursor:pointer;transition:all .3s;padding:0 1rem}.overview-control-block .controls .btn-block .btn:hover{background-color:#d9d7d7}.overview-control-block .controls .btn-block .btn.highlight-btn{color:#fff;background-color:#f94449;transition:all .3s}.overview-control-block .controls .btn-block .btn.highlight-btn:hover{background-color:#f71319}.overview-control-block .controls .disclaimer{font-size:1.3em;min-height:6rem}.gallery{flex:1 1 calc( 100% - 30rem);padding-left:4rem;display:flex;max-width:calc( 138.4rem - 30rem)}@media print{.gallery{display:none}}@media only screen and (max-width: 767px){.gallery{flex:0 0 300px;order:1;padding-left:0;margin-bottom:4rem}}.gallery .main-image-wrapper{flex:1 1 100%;background-size:cover;background-position:center;position:relative}.gallery .main-image-wrapper .main-image{top:0;left:0;right:0;bottom:0;background-size:cover;background-position:center;position:absolute}.gallery .main-image-wrapper .main-image .slide{background-size:cover;background-position:center}.gallery .main-image-wrapper .arrow{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);background-image:url(assets/svg/arr_alt.svg);width:4rem;height:4rem;position:absolute;top:50%;background-color:#fff;transform:translateY(-50%);background-position:center;background-repeat:no-repeat;cursor:pointer;z-index:10}@media print{.gallery .main-image-wrapper .arrow{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}.gallery .main-image-wrapper .arrow.arrow-right{right:-2rem}.gallery .main-image-wrapper .arrow.arrow-left{left:-2rem;transform:translateY(-50%) rotate(180deg)}.gallery .main-image-wrapper .arrow.swiper-button-disabled{display:none}.gallery .main-image-wrapper .gallery-counter{position:absolute;bottom:-2rem;left:0}.gallery .gallery-thumbnails-wrapper{flex:0 0 300px;background-color:#333;margin-left:4rem;position:relative;overflow:hidden}@media only screen and (max-width: 1023px){.gallery .gallery-thumbnails-wrapper{display:none}}.gallery .gallery-thumbnails-wrapper .gallery-thumbnails{position:absolute;top:2rem;left:2rem;right:2rem;bottom:2rem}.gallery .gallery-thumbnails-wrapper .gallery-thumbnails .gal-swiper-slide{display:flex;justify-content:space-between}@media only screen and (max-width: 1023px){.gallery .gallery-thumbnails-wrapper .gallery-thumbnails .gal-swiper-slide{display:block}}.gallery .gallery-thumbnails-wrapper .gallery-thumbnails .gal-entry{flex:0 0 calc( 50% - .5rem);padding-top:80px;background-size:cover;background-position:center;cursor:pointer;transition:all .3s}.gallery .gallery-thumbnails-wrapper .gallery-thumbnails .gal-entry.active{outline:0.4rem solid #f94449;outline-offset:-.4rem}.car-details .details-menu{display:flex;margin-bottom:3rem}@media print{.car-details .details-menu{display:none}}.car-details .details-menu .details-menu-entry{margin-right:10rem;cursor:pointer;font-size:1.8rem;text-transform:uppercase;transition:all .3s}.car-details .details-menu .details-menu-entry:hover{color:red}.car-details .details-menu .details-menu-entry.active{font-weight:700;color:#f94449}.car-details .details-data{box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-webkit-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);-moz-box-shadow:1px 4px 23px 2px rgba(0,0,0,0.16);background-color:#fff;padding:5rem;margin-bottom:0rem}@media print{.car-details .details-data{box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0);-moz-box-shadow:0px 0px 0px 0px rgba(0,0,0,0)}}@media print{.car-details .details-data{padding:0}}.car-details .details-data .details-data-entry{display:none;font-size:1.6rem;line-height:1,5em}@media print{.car-details .details-data .details-data-entry{display:block;margin-bottom:4rem}}.car-details .details-data .details-data-entry.active{display:block}.car-details .details-data .details-data-entry ul{margin-bottom:2.5rem}.car-details .details-data .details-data-entry ul li{list-style-type:none;line-height:1.5em;padding-left:2rem;position:relative}.car-details .details-data .details-data-entry ul li::before{content:"";display:block;position:absolute;left:0;top:.6rem;width:1rem;height:1rem;background-color:#f94449}.car-details .details-data .details-data-entry p{margin-bottom:2.5rem}.overlay-wrapper{top:0;left:0;right:0;bottom:0;position:fixed;background-color:#000000aa;z-index:-1;display:flex;justify-content:center;align-items:center;opacity:0;transition:all .3s}.overlay-wrapper.active{z-index:11;opacity:1}.overlay-wrapper .overlay-window{background-color:#fff;position:relative;padding:4rem;max-width:40rem;width:100%;font-size:1.6rem}.overlay-wrapper .overlay-window .close-overlay{position:absolute;width:4rem;height:4rem;top:1rem;right:1rem;background-color:#fff;cursor:pointer}.overlay-wrapper .overlay-window .close-overlay .icon{width:4rem;height:4rem;display:flex;justify-content:center;align-items:center}.overlay-wrapper .overlay-window .close-overlay svg{width:2rem;height:2rem}.overlay-wrapper h2{margin-bottom:1em;font-size:2.2em}.overlay-wrapper .wpcf7-form-control-wrap[data-name="car-name"],.overlay-wrapper .wpcf7-form-control-wrap[data-name="car-type"],.overlay-wrapper .wpcf7-form-control-wrap[data-name="website-url"]{display:none}.overlay-wrapper input[type="text"],.overlay-wrapper input[type="email"]{margin-bottom:1.5rem;border-bottom:1px solid #333;max-width:100%;background-color:#f2f1f1;padding:1rem}.overlay-wrapper input[type="submit"]{background-color:#f94449;padding:1rem 2rem;color:#fff;display:block;margin:auto;transition:all .3s;cursor:pointer}.overlay-wrapper input[type="submit"]:hover{background-color:#f71319}.overlay-wrapper .wpcf7-spinner{margin-top:-3rem;display:block}.overlay-wrapper textarea{margin-bottom:1.5rem;border-bottom:1px solid #333;margin-bottom:1rem;width:100%;height:70px;background-color:#f2f1f1;padding:1rem}.contacts-page .before-info{margin-bottom:2rem;margin-top:-5px}.contacts-page h1,.contacts-page h2{margin-bottom:2rem}.contacts-page h2{text-align:center}.contacts-page .icon-text{display:flex;align-items:center}.contacts-page .icon-text .icon{background-color:#000;margin-right:1rem;width:4rem;height:4rem}.contacts-page .icon-text .icon svg{width:4rem;height:4rem}.contacts-page .icon-text .icon svg g{fill:#fff}.contacts-page h3{font-size:1.6rem;font-weight:700;margin-bottom:1rem}.contacts-page .info-block{margin-bottom:4rem}.contacts-page .cont-map{position:relative;width:100%;margin-bottom:3rem;padding-top:30%}@media only screen and (max-width: 767px){.contacts-page .cont-map{padding-top:40%}}@media only screen and (max-width: 559px){.contacts-page .cont-map{padding-top:80%}}.contacts-page .cont-map iframe{top:0;left:0;right:0;bottom:0;position:absolute;width:100%;height:100%}.contacts-page .cols{display:flex;justify-content:space-between;margin-bottom:5rem}@media only screen and (max-width: 767px){.contacts-page .cols{flex-wrap:wrap}}.contacts-page .cols .left-block,.contacts-page .cols .right-block{flex:0 0 calc(50% - 1.5rem);background-color:#fff;padding:4rem}.contacts-page .cols .left-block .col-data-wrapper,.contacts-page .cols .right-block .col-data-wrapper{display:flex;justify-content:space-between}@media only screen and (max-width: 559px){.contacts-page .cols .left-block .col-data-wrapper,.contacts-page .cols .right-block .col-data-wrapper{flex-wrap:wrap}}@media only screen and (max-width: 767px){.contacts-page .cols .left-block,.contacts-page .cols .right-block{flex:0 0 100%;flex-wrap:wrap}}.contacts-page .cols .left-block .phones,.contacts-page .cols .right-block .phones{flex:0 0 calc( 50% - 1rem)}@media only screen and (max-width: 559px){.contacts-page .cols .left-block .phones,.contacts-page .cols .right-block .phones{flex:0 0 100%}}.contacts-page .cols .left-block .work-hours,.contacts-page .cols .right-block .work-hours{flex:0 0 calc( 50% - 1rem)}@media only screen and (max-width: 559px){.contacts-page .cols .left-block .work-hours,.contacts-page .cols .right-block .work-hours{flex:0 0 100%}}.contacts-page .cols .right-block{flex:0 0 calc(50% - 1.5rem);position:relative;background-color:#fff;padding:4rem}@media only screen and (max-width: 767px){.contacts-page .cols .right-block{flex:0 0 100%}}.contacts-page .cols .right-block iframe{top:0;left:0;right:0;bottom:0;position:absolute;width:100%;height:100%}.contacts-page .service-contacts-block{padding-left:0;padding-right:0}.contacts-page .about-us-wrapper{display:flex;justify-content:space-between;margin-bottom:6rem}@media only screen and (max-width: 767px){.contacts-page .about-us-wrapper{flex-wrap:wrap}}.contacts-page .about-us-wrapper .about-us-content,.contacts-page .about-us-wrapper .about-us-img{flex:0 0 calc(50% - 1.5rem);max-width:calc(50% - 1.5rem)}@media only screen and (max-width: 767px){.contacts-page .about-us-wrapper .about-us-content,.contacts-page .about-us-wrapper .about-us-img{flex:0 0 100%;max-width:100%}}.contacts-page .about-us-wrapper .about-us-content p,.contacts-page .about-us-wrapper .about-us-img p{margin-bottom:2rem}@media only screen and (max-width: 767px){.contacts-page .about-us-wrapper .about-us-img{margin-bottom:2rem}}@media only screen and (max-width: 767px){.contacts-page .about-us-wrapper .about-us-content{order:2}}.contacts-page .about-us-wrapper img{max-width:100%}.contact-form-wrapper{background-color:#fff;padding:6rem 4rem;margin-bottom:6rem}.contact-form-wrapper .contact-form{width:100%;max-width:72rem;margin:auto}.contact-form-wrapper .contact-form .form-cols{display:flex;justify-content:space-between}@media only screen and (max-width: 767px){.contact-form-wrapper .contact-form .form-cols{flex-wrap:wrap}}.contact-form-wrapper .contact-form .form-cols .left-block,.contact-form-wrapper .contact-form .form-cols .right-block{flex:0 0 calc(50% - 1.5rem);max-width:calc(50% - 1.5rem);margin-bottom:3rem}@media only screen and (max-width: 767px){.contact-form-wrapper .contact-form .form-cols .left-block,.contact-form-wrapper .contact-form .form-cols .right-block{flex:0 0 100%;max-width:100%}}.contact-form-wrapper .contact-form .form-cols p,.contact-form-wrapper .contact-form .form-cols span{max-width:100%}.contact-form-wrapper .contact-form input[type="text"],.contact-form-wrapper .contact-form input[type="email"],.contact-form-wrapper .contact-form textarea{width:100%;background-color:#f5f5f5;border-bottom:1px solid #333;padding:1rem}.contact-form-wrapper .contact-form textarea{margin-bottom:3rem}.contact-form-wrapper .contact-form .before-send{display:flex}.contact-form-wrapper .contact-form .before-send .disclaimer{flex:1 1 100%}.contact-form-wrapper .contact-form .before-send p{flex:0 0 14rem}.contact-form-wrapper .contact-form .before-send input[type="submit"]{text-align:center;background-color:#f94449;width:14rem;height:4rem;color:#fff;transition:all .3s;cursor:pointer}.contact-form-wrapper .contact-form .before-send input[type="submit"]:hover{background-color:#f71319}.page-template-page-news h1{text-align:center}.post-entry{display:flex;margin-bottom:5rem}@media only screen and (max-width: 559px){.post-entry{flex-wrap:wrap}}.post-entry .entry-image{flex:0 0 43rem;margin-right:3rem;position:relative}@media only screen and (max-width: 767px){.post-entry .entry-image{flex:0 0 30rem}}@media only screen and (max-width: 559px){.post-entry .entry-image{flex:0 0 100%;margin-bottom:1rem}}.post-entry .entry-image a{top:0;left:0;right:0;bottom:0;position:absolute}.post-entry .entry-image img{max-width:100%}.post-entry .entry-description{font-size:1.6rem;flex:1 1 100%}.post-entry .entry-description .entry-title{font-size:2.4rem;margin-bottom:3rem;font-weight:700}.post-entry .entry-description .entry-short-details{margin-bottom:3rem;line-height:1.5em}.post-entry .entry-description .entry-short-details a{text-decoration:underline;color:#f94449}.post-entry .entry-description .entry-date{color:#333}.page-nav-container{display:flex;justify-content:center;flex-wrap:wrap;font-size:1.6rem;margin-bottom:4rem}.page-nav-container a,.page-nav-container span{width:30px;height:30px;background-color:#fff;font-size:1.6rem;display:flex;align-items:center;justify-content:center;margin:5px}.page-nav-container span{background-color:#ccc}.page-template-page-service{background-color:#e6e6e6}.service-form .subtitle{margin-bottom:2rem;text-align:center;margin-top:-5px}.top-image-wrapper{background-size:cover;background-position:center;min-height:60vh;display:flex;justify-content:center;align-items:center;margin:8rem 0 6rem}@media only screen and (max-width: 767px){.top-image-wrapper{height:60vh}}.top-image-wrapper .slide-inner{display:inline-block;padding-bottom:2rem;font-weight:700;line-height:1.5em;color:#fff;width:auto;text-align:center;background-color:#00000075;padding:4rem;width:100%;max-width:70rem}.top-image-wrapper .slide-inner{font-size:20px}@media screen and (min-width: 560px){.top-image-wrapper .slide-inner{font-size:calc(20px + 18 * ((100vw - 560px) / 688))}}@media screen and (min-width: 1248px){.top-image-wrapper .slide-inner{font-size:38px}}.top-image-wrapper .slide-inner .slide-subheading{margin-bottom:3rem}.top-image-wrapper .slide-inner .slide-button-wrapper .slide-btn{background-color:#f94449;font-size:1.6rem;padding:.2rem 2rem;display:inline-block;position:relative;transition:all .3s}.top-image-wrapper .slide-inner .slide-button-wrapper .slide-btn:hover{background-color:#f71319}.top-image-wrapper .slide-inner .slide-button-wrapper .slide-btn a{top:0;left:0;right:0;bottom:0;position:absolute}.offer-list{display:flex;flex-wrap:wrap;margin:2rem 0 8rem}.offer-list .offer-wrapper{flex:0 0 33.3%;padding:0 2rem 4rem;font-size:1.6rem;line-height:1.5em}@media only screen and (max-width: 1023px){.offer-list .offer-wrapper{flex:0 0 50%}}@media only screen and (max-width: 559px){.offer-list .offer-wrapper{flex:0 0 100%;padding:0 0 4rem}}.offer-list .offer-wrapper .offer-image{padding-top:66%;margin-bottom:2rem;background-size:cover;position:relative}.offer-list .offer-wrapper .offer-image a{position:absolute;top:0;left:0;right:0;bottom:0}.offer-list .offer-wrapper .entry-date{font-size:1.4rem;color:#6b6b6b;margin-bottom:2rem}.offer-list .offer-wrapper .entry-title{font-size:2.2rem;font-weight:700;margin-bottom:2rem}.service.advantages-wrapper{margin-bottom:8rem;width:100%}.service.advantages-wrapper .advantages-entry{flex:0 0 20%}.service.advantages-wrapper .advantages-entry img{max-width:80px;max-height:80px}.service.advantages-wrapper .advantages-entry p{margin-bottom:.5rem}.service.advantages-wrapper .advantages-entry .price{font-weight:700}.page-template-page-service h2{text-align:center;margin-bottom:2rem}.page-template-page-service .subtitle{text-align:center}.page-layout h1{text-align:cneter}.main-page-image{padding-top:30%;width:100%;background-size:cover;background-position:center;margin-bottom:4rem}.formatted-content{max-width:80rem;width:100%;margin:0 auto 6rem;font-size:1.6rem;line-height:1.5em}.formatted-content.details-data-entry{max-width:100%}@media only screen and (max-width: 767px){.formatted-content{padding:0 2rem}}.formatted-content strong{font-weight:700}.formatted-content p{margin-bottom:2rem}.formatted-content pre{font-family:monospace, monospace;margin:2rem 0}.formatted-content ol{padding-left:2rem;margin:2rem 0}.formatted-content ol li{padding-left:1rem;list-style-type:decimal}.formatted-content ul{margin:2rem 0}.formatted-content ul li{list-style-type:none;line-height:1.5em;padding-left:3rem;position:relative}.formatted-content ul li::before{content:"";display:block;position:absolute;left:0;top:.6rem;width:1rem;height:1rem;background-color:#f94449}.formatted-content .wp-video{max-width:100%}.formatted-content .wp-video video{max-width:100%}.single-special_offer .single-post-content{margin-bottom:4rem}.single-special_offer .service-form h2{text-align:center;margin-bottom:2rem}.single-special_offer .service-form .subtitle{margin-bottom:0}.single-special_offer .service-form .contact-form-wrapper{padding-top:4rem}.single-post h1{text-align:center}.flex-single-post{display:flex}@media only screen and (max-width: 767px){.flex-single-post{flex-wrap:wrap}}.flex-single-post .single-post-image{flex:0 0 43rem}@media only screen and (max-width: 767px){.flex-single-post .single-post-image{flex:0 0 100%;margin-bottom:2rem}}.flex-single-post .single-post-image img{width:100%}.flex-single-post .single-post-content{max-width:calc( 100% - 43rem);flex:1 1 100%;padding-left:3rem}@media only screen and (max-width: 767px){.flex-single-post .single-post-content{padding-left:0;max-width:100%}}.breadcrumbs a{text-decoration:underline}.admin-bar .site-header{top:32px}

/*# sourceMappingURL=style.css.map */