.car-details {
    .details-menu {
        display: flex;
        margin-bottom: 3rem;

        @media print {
            display: none;
        }

        .details-menu-entry {
            margin-right: 10rem;
            cursor: pointer;
            font-size: 1.8rem;
            text-transform: uppercase;
            transition: all .3s;

            &:hover {
                color: red;
            }

            &.active {
                font-weight: 700;
                color: $red;
            }
        }
    }

    .details-data {
        @include shadow;
        background-color: #fff;
        padding: 5rem;
        margin-bottom: 0rem;

        @media print {
            padding: 0;
        }

        .details-data-entry {
            display:none;
            font-size: 1.6rem;
            line-height: 1,5em;

            @media print {
                display: block;
                margin-bottom: 4rem;
            }

            &.active {
                display: block;
            }

            ul {
                margin-bottom: 2.5rem;

                li {
                    list-style-type: none;
                    line-height: 1.5em;
                    padding-left: 2rem;
                    position: relative;


                    &::before {
                        @include pseudo;
                        left:0;
                        top: .6rem;
                        width: 1rem;
                        height: 1rem;
                        background-color: $red;
                    }
                }
            }

            p {
                margin-bottom: 2.5rem;
            }
        }

    }
}