.gallery {
    flex: 1 1 calc( 100% - 30rem );
    padding-left: 4rem;
    display: flex;
    max-width: calc( 138.4rem - 30rem );

    @media print {
        display: none;
    }

    @include mq('md', max) {
        flex: 0 0 300px;
        order: 1;
        padding-left:0;
        margin-bottom: 4rem;
    }

    .main-image-wrapper {
        flex: 1 1 100%;
        background-size: cover;
        background-position:center;
        position: relative;

        .main-image {
            @include strech;
            background-size: cover;
            background-position:center;
            position: absolute;

            .slide {
                background-size: cover;
                background-position: center;
            }
        }

        .arrow {
            @include shadow;
            background-image: url(assets/svg/arr_alt.svg);
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 50%;
            
            background-color: #fff;
            transform: translateY(-50%);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 10;

            &.arrow-right {
                right:-2rem;
            }
            &.arrow-left {
                left: -2rem;
                transform: translateY(-50%) rotate(180deg);
            }

            &.swiper-button-disabled {
                display: none;
            }
        }

        .gallery-counter {
            position: absolute;
            bottom: -2rem;
            left:0;
        }
        
    }

    .gallery-thumbnails-wrapper {
        flex: 0 0 300px;
        background-color: $dgrey;
        margin-left: 4rem;
        position: relative;
        overflow: hidden;

        @include mq('lg', 'max') {
            display: none;
        }

        .gallery-thumbnails {
            position: absolute;
            top: 2rem;
            left: 2rem;
            right: 2rem;
            bottom: 2rem;
            
            .gal-swiper-slide{
                display: flex;
                justify-content: space-between;

                @include mq('lg', 'max') {
                    display: block
                }
            }

            .gal-entry {
                //padding-top:75%;
                flex: 0 0 calc( 50% - .5rem);
                padding-top: 80px;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                transition: all .3s;

                &.active {
                    outline: .4rem solid $red;
                    outline-offset: -.4rem;
                }
            }
        }
    }
}