.car-overview {
    align-items:normal;
    margin-bottom: 8rem;

    @media print {
        margin-bottom: 4rem;
    }

    @include mq('md', max) {
        flex-direction: column;
    }
}

.main-print-image {
    
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
    img {
        width: 600px;
    }
}

.car-template-default, .page-template-page-car_list, .page-template-page-contacts  {
    .page-layout {
        position: relative;
        &::before {
            @include pseudo;
            background-image: url(assets/svg/logo_emblem.svg);
            width: 52rem;
            height: 68rem;
            top: -5rem;
            right:0;
            background-size: cover;
            background-position: left center;
            opacity: .07;

            @media print {
                display:none;
            }
        }
    }
}