.overview-control-block {
    flex: 0 0 30rem;

    @include mq('md', max) {
        order: 2;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .single-page-subtitle {
        font-size: 1.6rem;
        line-height: 1.5em;
        margin-bottom: 3rem;
    }

    .controls {
        @include shadow;
        padding: 3rem;
        background-color: #fff;

        @media print {
            display: none;
        }

        .line-1 {
            margin-bottom: 2.5rem;
            text-align: center;
            margin-top: 6rem;
        }

        .line-2 {
            margin-bottom: 4rem;
            text-align: center;
        }

        .btn-block {
            width: 20rem;
            margin: 0 auto 3rem;


            .btn {
                height: 4rem;
                margin-bottom: 1rem;
                background-color: $grey;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                cursor: pointer;
                transition: all .3s;
                padding: 0 1rem;

                &:hover {
                    background-color: darken( $grey, 10% );
                }

                &.highlight-btn {
                    color: #fff;
                    background-color: $red;
                    transition: all .3s;

                    &:hover {
                        background-color: darken( $red, 10% );
                    }
                }
            }
        }

        .disclaimer {
            font-size: 1.3em;
            min-height: 6rem;
        }
    }
}