.filters {
    @include shadow;
    flex: 0 0 28rem;
    margin-bottom: 10rem;
    transition: all .3s;
    background-color: #fff;
    min-width: 28rem;
    z-index: 15;

    @include mq('lg', 'max') {
        position: absolute;
        top:0;
        left: 0;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0%);

            .filter-header {
                .icon {
                    @include noshadow;
                    left: 0px!important;
                }
            }
        }
    }

    .filter-header {
        font-size: 2rem;
        padding: 2rem 3rem 2rem 8rem;
        position: relative;
        background-color: #fff;

        .icon {
            position: absolute;
            top:0;
            bottom:0;
            left: 3rem;
            display: flex;
            align-items: center;
            transition: all .3s;

            @include mq('lg', 'max') {
                @include shadow;
                left: 100%;
                background-color: #fff;

            }
        }

    }

    .filter-block {

        &.active {
            .filter-block-header {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            .filter-body {
                max-height: 100vh;
                padding: 1rem 3rem;
            }
        }

        .filter-block-header {
            font-size: 2rem;
            padding: 2rem 3rem 2rem 3rem;
            background-color: #f7f7f7;
            font-weight: 600;
            position: relative;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background-color: #eee;
            }

            &::after {
                @include pseudo;
                width: 20px;
                height: 10px;
                top: 50%;
                right: 3rem;
                background-image: url(assets/svg/arr.svg);
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%);
                transition: all .3s;
            }

        }

        .filter-body {
            padding: 0rem 3rem;
            font-size: 1.8rem;
            line-height: 2em;
            max-height: 0;
            overflow: hidden;
            transition: all .3s;

            .filter-entry {
                padding-left: 2rem;
                position: relative;
                cursor: pointer;

                &.active {
                    &::after {
                        width: 1.1rem;
                        height: 1.1rem;
                    }
                }

                &::before {
                    @include pseudo;
                    border: 1px solid #000;
                    left: 0;
                    top: 1rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }

                &::after {
                    @include pseudo;
                    left: .2rem;
                    top: 1.2rem;
                    width: 0rem;
                    height: 0rem;
                    background-color: $red;
                    transition: all .3s;
                }

            }

            .slider {
                width: 100%;

                
            }

            .range-peak-values {
                display: flex;
                justify-content: space-between;
                font-size: 1.6rem;
            }

            .actual-range {
                text-align: center;
                font-size: 1.6rem;
            }
        }
    }
}