.filter-results {
    flex: 1 1 100%;
    padding-left: 6rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.75rem;
    margin-bottom: 10rem;

    @include mq('lg', 'max') {
        padding-left: 0rem;
        margin-right: -2rem;
    }

    .car-entry-wrapper {
        flex: 0 0 33%;
        padding: 0 1.75rem 3.5rem;

        @include mq('md', 'max') {
            flex: 0 0 50%;
        }

        @include mq('sm', 'max') {
            flex: 0 0 100%;
        }

        .car-entry {
            @include shadow;
            background-color: #fff;
            transition: all .3s;
            position: relative;
            z-index: 5;

            &:hover {
                @include dshadow;
            }

            a {
                @include strech;
                position: absolute;
                z-index: 2;
            }

            .car-img {
                padding-top: 75%;
                background-size: cover;
                background-position: center;
                position: relative;

                .grid-label {
                    position: absolute;
                    top: 1rem;
                    right: 3rem;
                    width: calc( 50% - 3rem - 2px );
                    background-color: $red;
                    color : #fff;
                    font-size: 1.4rem;
                    min-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 1rem;
                    line-height: 1.35em;
                }
            }

            .car-grid-controls {
                display: flex;
                justify-content: space-between;
                padding: 0 3rem;
                margin-top: -2rem;
                height: 4rem;
                z-index: 3;
                position: relative;

                @include mq('md', 'max') {
                    padding: 0 1rem;
                }

                .control {
                    @include shadow;
                    flex: 0 0 calc( 50% - 2px );
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    font-size: 1.4rem;
                    cursor: pointer;
                    transition: all .3s;

                    @include mq('md', 'max') {
                        font-size: 1.2rem;
                    }

                    &.car-price-from {
                        text-align: center;
                        background-color: #fff;
                    }

                    &.go-to-car {
                        background-color: $dgrey;
                        color: #fff;
                        position: relative;
                    }

                    &:hover {
                        background-color: $red;
                        color: #fff;
                    }
                }
            }

            .entry-info {
                padding: 4rem 3rem 2rem;

                .car-title {
                    font-size: 1.8rem;
                    margin-bottom: 2.5rem;
                    font-weight:700;
                }

                .car-desc {
                    font-size: 1.6rem;
                    color: #8a8a8a;
                    line-height: 1.5em;
                }
            }
        }
    }
}

.no-cars-found {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #9f9f9f;
}