@import 'contacts';
@import 'news';
@import 'service';

.page-layout {
    h1 {
        text-align: cneter;
    }
}

.main-page-image {
    padding-top: 30%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 4rem;
}

.formatted-content {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto 6rem;
    font-size: 1.6rem;
    line-height: 1.5em;

    &.details-data-entry {
        max-width: 100%;
    }

    @include mq('md', 'max') {
        padding: 0 2rem;
    }

    strong {
        font-weight: 700;
    }

    p {
        margin-bottom: 2rem;
    }

    pre {
       font-family: monospace, monospace; 
       margin: 2rem 0;
    }

    ol {
        padding-left: 2rem;
        margin: 2rem 0;

        li {
            padding-left: 1rem;
            list-style-type: decimal;
        }
    }

    ul {
        margin: 2rem 0;

        li {
            list-style-type: none;
            line-height: 1.5em;
            padding-left: 3rem;
            position: relative;


            &::before {
                @include pseudo;
                left:0;
                top: .6rem;
                width: 1rem;
                height: 1rem;
                background-color: $red;
            }
        }
    }

    .wp-video {
        max-width: 100%;

        video {
            max-width: 100%;
        }
    }
}