.contacts-page {

    .before-info {
        margin-bottom: 2rem;
        margin-top: -5px;
    }

    h1,h2 {
        margin-bottom: 2rem;
    }

    h2 {
        text-align:center;
    }

    .icon-text {
        display: flex;
        align-items: center;

        .icon {
            background-color: #000;
            margin-right: 1rem;
            width: 4rem;
            height: 4rem;

            svg {
                width: 4rem;
                height: 4rem;

                g {
                    fill: #fff;
                }
            }
        }
    }   

    h3 {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .info-block {
        margin-bottom: 4rem;
    }

    .cont-map {
        position: relative;
        width: 100%;
        margin-bottom: 3rem;
        padding-top: 30%;

        @include mq(md, 'max') {
            padding-top: 40%;
        }

        @include mq(sm, 'max') {
            padding-top: 80%;
        }

        iframe {
            @include strech;
            position: absolute;
            width: 100%;
            height: 100%;
        }

    }


    .cols {
        display:flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        @include mq(md, 'max') {
            flex-wrap: wrap;
        }

        .left-block, .right-block {
            flex: 0 0 calc(50% - 1.5rem);
            //display: flex;
            background-color: #fff;
            padding: 4rem;

            .col-data-wrapper {
                display: flex;
                justify-content: space-between;

                @include mq(sm, 'max') {
                    flex-wrap: wrap;
                }
            }

            @include mq(md, 'max') {
                flex: 0 0 100%;
                flex-wrap: wrap;
            }
            
            .phones {
                flex: 0 0 calc( 50% - 1rem );

                @include mq(sm, 'max') {
                    flex: 0 0 100%;
                }
            }

            .work-hours {
                flex: 0 0 calc( 50% - 1rem );

                @include mq(sm, 'max') {
                    flex: 0 0 100%;
                }
            }
        }

        
        .right-block {
            flex: 0 0 calc(50% - 1.5rem);
            position: relative;
            background-color: #fff;
            padding: 4rem;

            @include mq(md, 'max') {
                //padding-top: 40%;
                flex: 0 0 100%;
            }

            @include mq(sm, 'max') {
               // padding-top: 80%;
            }

            iframe {
                @include strech;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            

        }

        
    }

    .service-contacts-block {
        padding-left:0;
        padding-right:0;
    }

    .about-us-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;

        @include mq(md, 'max') {
            flex-wrap: wrap;
        }

        .about-us-content, .about-us-img {
            flex: 0 0 calc(50% - 1.5rem);
            max-width: calc(50% - 1.5rem);

            @include mq(md, 'max') {
                flex: 0 0 100%;
                max-width: 100%;
            }

            p {
                margin-bottom: 2rem;
            }
        }

        .about-us-img {
            @include mq(md, 'max') {
                margin-bottom: 2rem;
            }
        }

        .about-us-content {
            @include mq(md, 'max') {
                order: 2;
            }
        }

        img {
            max-width: 100%;
        }
    }
}

.contact-form-wrapper {
    background-color: #fff;
    padding: 6rem 4rem;
    margin-bottom: 6rem;

    .contact-form {
        width: 100%;
        max-width: 72rem;
        margin: auto;

        .form-cols {
            display: flex;
            justify-content: space-between;

            @include mq(md, 'max') {
                flex-wrap: wrap;
            }

            .left-block, .right-block {
                flex: 0 0 calc(50% - 1.5rem);
                max-width: calc(50% - 1.5rem);
                margin-bottom: 3rem;

                @include mq(md, 'max') {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            p, span {
                max-width: 100%;
            }

        }

        input[type="text"], input[type="email"], textarea {
            width: 100%;
            background-color: #f5f5f5;
            border-bottom: 1px solid $dgrey;
            padding: 1rem;
        }

        textarea {
            margin-bottom: 3rem;
        }

        .before-send {
            display: flex;
            

            .disclaimer {
                flex: 1 1 100%;
            }

            p {
                flex: 0 0 14rem;
            }
            input[type="submit"] {
                text-align: center;
                background-color: $red;
                width: 14rem;
                height: 4rem;
                color: #fff;
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    background-color: darken( $red, 10% );
                }
            }
        }
    }
}