.page-template-page-news {
    h1 {
        text-align: center;
    }
}

.post-entry {
    display: flex;
    margin-bottom: 5rem;

    @include mq('sm', 'max') {
        flex-wrap: wrap;
    }

    .entry-image {
        flex: 0 0 43rem;
        margin-right: 3rem;
        position: relative;

        @include mq('md', 'max') {
            flex: 0 0 30rem;
        }

        @include mq('sm', 'max') {
            flex: 0 0 100%;
            margin-bottom: 1rem;
        }

        a{
            @include strech;
            position: absolute;
        }

        img {
            max-width: 100%;
        }
    }

    .entry-description {
        font-size: 1.6rem;
        flex: 1 1 100%;

        .entry-title {
            font-size: 2.4rem;
            margin-bottom: 3rem;
            font-weight:700;
        }

        .entry-short-details {

            margin-bottom: 3rem;
            line-height: 1.5em;

            a {
                text-decoration: underline;
                color: $red;
            }
        }

        .entry-date {
            color: #333;
        }
    }
}

.page-nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin-bottom: 4rem;

    a, span {
        width: 30px;
        height: 30px;
        background-color: #fff;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    span {
        background-color: #ccc
    }
}