.page-template-page-service {
    background-color: #e6e6e6
}

.service-form {
    .subtitle {
        margin-bottom: 2rem;
        text-align: center;
        margin-top: -5px;
    }
}

.top-image-wrapper {
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0 6rem;

    @include mq('md', 'max') {
        height: 60vh
    }

    .slide-inner {
        display: inline-block;
        padding-bottom: 2rem;
        @include fluid-type(20px, 38px);
        font-weight: 700;
        line-height: 1.5em;
        color: #fff;
        width: auto;
        text-align:center;
        background-color: #00000075;
        padding: 4rem;
        width: 100%;
        max-width: 70rem;

        .slide-subheading {
            margin-bottom: 3rem;
        }

        .slide-button-wrapper {

            .slide-btn {
                background-color: $red;
                font-size: 1.6rem;
                padding: .2rem 2rem;
                display: inline-block;
                position: relative;
                transition: all .3s;

                &:hover {
                    background-color: darken( $red, 10%);
                }

                a {
                    @include strech;
                    position: absolute;
                }
            }
        }
    }
}

.offer-list {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0 8rem;

    .offer-wrapper {
        flex: 0 0 33.3%;
        padding: 0 2rem 4rem;
        font-size: 1.6rem;
        line-height: 1.5em;

        @include mq('lg', 'max') {
            flex: 0 0 50%;
        }

        @include mq('sm', 'max') {
            flex: 0 0 100%;
            padding:0 0 4rem;;
        }

        .offer-image {
            padding-top: 66%;
            margin-bottom: 2rem;
            background-size: cover;
            position: relative;

            a {
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
            }
        }

        .entry-date {
            font-size: 1.4rem;
            color: #6b6b6b;
            margin-bottom: 2rem;
        }

        .entry-title {
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }
}

.service.advantages-wrapper {
    margin-bottom: 8rem;
    width: 100%;

    .advantages-entry {
        flex: 0 0 20%;

        img {
            max-width: 80px;
            max-height: 80px;
        }

        p {
            margin-bottom: .5rem;
        }

        .price {
            font-weight: 700;
        }
    }
}

.page-template-page-service {
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .subtitle {
        text-align: center;
    }

}