@import 'slider';
@import 'advantages';
@import 'available_cars';
@import 'about_psl';
@import 'client_reviews';

.message-icon {
    @include shadow;

    position: fixed;
    bottom:2rem;
    right:2rem;
    border-radius: 50%;
    background-color: $red;
    cursor: pointer;
    transition: all .3s;
    z-index: 15;

    &:hover {
        background-color: darken( $red, 10%);
    }

    svg path {
        fill: #fff;
    }

}