.about-wrapper {
    background-image: url(assets/tmp/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 6rem 2rem 24rem;

    @include mq('md', 'max') {
        padding-bottom: 6rem;
    }

    h2 {
        text-align:center;
        color: #fff;
        margin-bottom: 10px;
    }

    .subheading {
        text-align:center;
        color: #fff;
    }

    .about-steps {
        margin-top: 15rem;

        @include mq('md', 'max') {
            display: flex;
            margin-top: 6rem;
        }

        .numbers {
            display: flex;
            justify-content: space-between;
            position: relative;

            @include mq('md', 'max') {
                flex-direction: column;
                display:none;
            }

            &::before {
                @include pseudo;
                top: 50%;
                left: 5px;
                right: 5px;
                border-bottom: 2px solid #fff;
            }

            .num {
                position: relative;
                z-index: 5;
                display: flex;
                align-items:center;
                justify-content:center;
                width: 5rem;
                height: 5rem;
                font-size: 1.6rem;
                color: #fff;
                background-color: $red;
                box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
                -webkit-box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
                -moz-box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    background-color: darken( $red, 10%);
                }

                @include mq('md', 'max') {
                    margin-bottom: 1rem;
                    height: 7rem;
                }

                &::after {
                    @include pseudo;
                    background-image: url(assets/svg/pointer.svg);
                    background-size: contain;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    width: 0rem;
                    height: 0rem;
                    bottom: -5rem;
                    transition: all .3s;

                    @include mq('md', 'max') {
                        background-image: url(assets/svg/pointer_black.svg);
                    }

                    @include mq('md', 'max') {
                        bottom:0;
                        top: 50%;
                        left: 100%;
                        transform: rotate(90deg) translateX(-50%);
                    }
                }

                .num-desc-entry {
                    position: absolute;
                    top: 10rem;
                    left: 0;
                    background-color: #fff;
                    padding: 3rem;
                    transition: all .3s;
                    opacity: 0;
                    white-space: nowrap;
                    display: none;

                    @include mq('md', 'max') {
                        display: none!important;
                    }

                    &.center {
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &.right {
                        left: auto;
                        right:0;
                    }
                }

                &.active {
                    color: #000;
                    background-color: #fff;
                    

                    @include mq('md', 'max') {
                        background-color: #000;
                        color: #fff;
                    }

                    &::after {
                        width: 3rem;
                        height: 3rem;
                    }

                    .num-desc-entry {
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }

        .num-descriptions {
            margin-top: 5rem;
            padding: 3rem;
            background-color: #fff;
            transition: all .3s;
            display: none;

            @include mq('md', 'max') {
                width: 100%;
                margin-top: 0;
                //margin-left: 5rem!important;
                padding: 0;
                background-color: transparent;
                display: block;
            }

            &.is-right {
                margin-left: 50%;
            }

            &.is-center {
                margin-left: 25%;
            }

            .num-desc-entry {
                font-size: 1.6rem;
                overflow: hidden;
                max-height: 0;
                line-height: 1.5em;

                @include mq('md', 'max') {
                    height:7rem;
                    max-height:7rem!important;
                    background-color: #fff;
                    padding: 0 3rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                }

                &.active {
                    max-height: 100vh;
                    @include mq('md', 'max') {
                        /* background-color: #000;
                        color: #fff; */
                    }
                }

                .alt-num {
                    margin-right: .5rem;
                }
                
            }
        }
    }
}