.advantages-wrapper {
    background-color: $grey;
    padding: 3rem 2rem;

    .advantages-block {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index:5;
        margin: auto;

        @include mq('md', 'max') {
            flex-direction: column;
            width: 100%;
        }

        .advantages-entry {
            flex: 0 0 17%;
            text-align: center;
            padding: 0 2rem;
            font-size: 1.8rem;
            line-height: 1.5em;

            @include mq('lg', 'max') {
                padding: 0 1rem;
            }

            @include mq('md', 'max') {
                display: flex;
                align-items: center;

                .adv-visual {
                    flex: 0 0 7rem;
                }

                .adv-body {
                    padding-left: 2rem;
                    text-align: left;
                }
            }
        }
    }
}