.available-wrapper {
    padding: 6rem 2rem;
    position: relative;

    &::before {
        @include pseudo;
        width: 28rem;
        height: 48rem;
        right:0rem;
        top:-20rem;
        background-image: url(assets/svg/logo_emblem.svg);
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        opacity: .07;
    }

    h2 {
        margin-bottom: 6rem;
        text-align :center;
    }

    .available-car-swiper-wrapper {
        position: relative;

        .arrow {
            @include shadow;
            background-image: url(assets/svg/arr_alt.svg);
            width: 4rem;
            height: 4rem;
            position: absolute;
            top: 50%;
            
            background-color: #fff;
            transform: translateY(-50%);
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 10;

            &.arrow-right {
                right:-2rem;
            }
            &.arrow-left {
                left: -2rem;
                transform: translateY(-50%) rotate(180deg);
            }

            &.swiper-button-disabled {
                display: none;
            }
        }

        .car-entry {
            @include shadow;
            position: relative;
            transition: all .3s;

            &:hover {
                @include dshadow;
                .car-price {
                    background-color: lighten($dgrey, 10%);
                }
            }

            .car-img{
                background-size: cover;
                background-position: center;
                padding-top: 70%;
                position: relative;

                .grid-label {
                    position: absolute;
                    top: 1rem;
                    right: 3rem;
                    width: calc( 50% - 3rem - 2px );
                    background-color: $red;
                    color : #fff;
                    font-size: 1.4rem;
                    min-height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 1rem;
                    line-height: 1.35em;
                }

            }

            .car-info {
                padding: 2.5rem 3rem;
                
                .car-title {
                    font-size: 1.8rem;
                    margin-bottom: 2.5rem;
                    font-weight:700;
    
                    @include mq('sm', 'max') {
                        font-size: 2rem;
                    }
                }

                .car-desc {
                    font-size: 1.6rem;
                    color: #8a8a8a;
                }
            }

            .car-price {
                background-color: $dgrey;
                color: #fff;
                font-weight:700;
                font-size: 1.6rem;
                padding: 2.5rem 3rem;
                transition: all .3s;

                @include mq('md', 'max') {
                    font-size: 1.8rem;
                }

                @include mq('sm', 'max') {
                    font-size: 2rem;
                }
            }

            a {
                @include strech;
                position: absolute;
            }
        }
    }
}