.reviews-wrapper {
    padding: 6rem 2rem 2rem;

    h2 {
        text-align: center;
        margin-bottom: 5rem;
    }

    .review-entry-wrapper {
        padding: 2rem 0;

        .review-entry {
            padding: 8rem 4rem 4rem;
            position: relative;
            box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
            -webkit-box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
            -moz-box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);

            &::before {
                @include pseudo;
                right: 2rem;
                top: -1rem;
                width: 5rem;
                height: 4rem;
                background-image: url( assets/svg/quote.svg );
                background-size: contain;
                background-repeat: no-repeat;
            }

            .review-body {
                text-align: center;
                margin-bottom: 3rem;
                font-size: 1.6rem;
            }

            .review-author {
                text-align:center;
                color: $red;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}