.fp-slider {
    width: 100%;
    height: 60vh;
    position: relative;
    margin-top: 8rem;

    @include mq('md', 'max') {
        height: 60vh
    }

    .fp-slide {
        @include strech;
        position: absolute;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity:0;
        transition: all .3s;

        &.active {
            opacity: 1;
        }

        .slide-inner {
            display: inline-block;
            padding-bottom: 2rem;
            @include fluid-type(20px, 38px);
            font-weight: 700;
            line-height: 1.5em;
            color: #fff;
            width: auto;
            text-align:center;
            background-color: #00000075;
            padding: 4rem;
            width: 100%;
            max-width: 70rem;

            .slide-subheading {
                margin-bottom: 3rem;
            }

            .slide-button-wrapper {
                .slide-btn {
                    background-color: $red;
                    font-size: 1.6rem;
                    padding: .2rem 2rem;
                    display: inline-block;
                    position: relative;
                    transition: all .3s;

                    &:hover {
                        background-color: darken( $red, 10%);
                    }

                    a {
                        @include strech;
                        position: absolute;
                    }
                }
            }
        }
    }
}