.site-footer {
    background-color: #000;
    color: #fff;
    padding: 12rem 2rem 3.5rem;
    font-size: 1.6rem;
    line-height: 1.35em;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 58rem;
        height: 58rem;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -15rem;
        left: -12rem;
        background-image: url(assets/svg/logo_emblem_w.svg);
        opacity: .15;
        z-index: 0;
    }

    @media print {
        padding: 0rem;
        background-color: #fff;
        color: #000;
    }

    @include mq('md', 'max') {
        padding-top: 6rem;
    }

    .site-center {
        display: flex; 
        justify-content: space-between;
        position: relative;
        z-index: 2;

        @media print {
            display: block;
        }

        @include mq('md', 'max') {
            flex-direction: column;
        }

        .footer-col {
            flex: 0 0 33%;

            @media print {
                display: none;

                &.show-in-print {
                    display: block;
                }
            }

            @include mq('md', 'max') {
                display: flex;
                flex-direction: column;

                &.footer-col-1 {
                    order: 2;
                }
                &.footer-col-2 {
                    order: 1;
                    margin-bottom: 4rem;
                }
                &.footer-col-3 {
                    order: 3
                }
            }

            ul {
                padding: 0;

                li {
                    padding:0;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            p {
                margin-bottom: 1.35em;
                margin-top:0;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding:0;
                    margin:0;
                }
            }

            .cont-block {
                margin-bottom: 1.35em;

                .footer-block-title{
                    font-weight: 700;
                }

                p {
                    margin-bottom:0;
                }
            }

            .social-links {
                display: flex;
                margin-top: 10rem;

                @include mq('md', 'max') {
                    margin-top: 6rem;
                }

                @media print {
                    display: none;
                }

                .social-link {
                    background-color: #fff;
                    position: relative;
                    margin-right: 2.5rem;
                    width: 4rem;
                    height: 4rem;
                    position: relative;

                    svg {
                        width: 4rem;
                        height: 4rem;
                    }

                    a {
                        @include strech;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.copyright {
    font-size: 1.6rem;
    line-height: 1em;
    text-align: center;
    padding: 3.5rem 2rem;

    @media print {
        display: none;
    }
}