.site-header {
    padding: 1rem;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
    -webkit-box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 4px 23px 2px rgba(0,0,0,0.16);
    z-index: 30;

    @media print {
        display: none;
    }

    .site-center {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        position: relative;
        width: 94px;
        height:56px;
        background-image: url(assets/img/psl_logo_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        svg {
            height: 6rem;
            width: auto;
        }

        a {
            @include strech;
            position: absolute;
        }
    }

    nav {
        display: flex;
        font-size: 1.6rem;
        line-height: 1em;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right:0;
        background-color: #fff;

        @include mq('lg') {
            position: static;
            flex-direction: row;
        }

        @include mq('lg', 'max') {
            @include shadow;
            transform: translateX(110%);
            transition: all .3s;

            &.active {
                transform: translateX(0%);
            }
        }

        .menu-main-menu-container {
            align-self: center;

            .menu {
                display: flex;
                align-items: center;
                text-transform: uppercase;

                @include mq('lg', 'max') {
                    flex-direction: column;
                    margin-bottom: 2rem;
                }
    
                li {
                    margin-left: 3em;
                    transition: all .3s;

                    &:hover {

                        a {
                            color: $red;
                        }
                    }

                    &.current_page_item {

                        a { 
                            font-weight:700;
                            color: $red;
                        }
                    }

                    a {
                        color: #333;
                        text-decoration: none;
                    }

                    @include mq('lg', 'max') {
                        margin-left:0;
                        line-height: 2.5em;

                        a {
                            padding: 1rem 3rem;
                        }
                    }
                }
            }
        }

        &>.phone {
            display: flex;
            align-items:center;
            position: relative;
            margin-left: 3em;

            @include mq('lg', 'max') {
                margin-left: 0;
                justify-content: center;
                padding-bottom: 1rem;
            }

            &::after {
                @include pseudo;
                top: -1rem;
                left: 0;
                right: 0;
                height: .3rem;
                background-color: $red;
            }
            
            .icon {
                width: 40px;
                height: 40px;
            }

            a {
                color: #333;
                text-decoration: none;
            }
        }
    }

    .menu-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include mq('lg') {
            display: none;
        }
    }
}

.car-template-default #menu-item-18 {
    font-weight:700;
    color: $red;
}