@import './single_special_offer';

.single-post {
    h1 {
        text-align: center;
    }
}

.flex-single-post {
    display: flex;

    @include mq('md', 'max') {
        flex-wrap: wrap;
    }

    .single-post-image {
        flex: 0 0 43rem;

        @include mq('md', 'max') {
            flex: 0 0 100%;
            margin-bottom: 2rem;
        }

        img {
            width: 100%;
        }
    }

    .single-post-content {
        max-width: calc( 100% - 43rem);
        flex: 1 1 100%;
        padding-left: 3rem;

        @include mq('md', 'max') {
            padding-left: 0;
            max-width: 100%;
        }
    }
}

.breadcrumbs {
    a {
        text-decoration: underline;
    }
}