.single-special_offer {

    .single-post-content {
        margin-bottom: 4rem;
    }

    .service-form {
        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .subtitle {
            margin-bottom: 0;
        }

        .contact-form-wrapper {
            padding-top: 4rem;
        }
    }

}